.module{
	width: 95%;
	border: solid thin;
	border-color: #05c3ec;

	margin: 10px 10px;
	background-color: #fff;
}
.title{
	color: #46495b;
	font-size: 24px;
	font-weight: bold;
}
.code{
	text-align: center;
	color: #B3B3C2;
	font-size: 15px;
	font-weight: bold;
}
.cont{
	width: 40%;
	height:38px;
	margin: 0 5%;
	border: none;
	background-color: #f6f9fd;
}
.money{
	color: #05C3EC;
	font-size: 20px;
	font-weight: bold;
}
.col-1{
	width: 40%;
	height: 40px;
	border-bottom: solid thin #B3B3C2;
	border-top: solid thin #B3B3C2;
	border-right: solid thin #B3B3C2;
}
.col-2{
	width: 40%;
	height: 40px;
	border-bottom: solid thin #B3B3C2;
	border-top: solid thin #B3B3C2;
}
.onlineshop{
	padding-left: 35px;
	cursor: pointer;
	color: #B3B3C2;
	font-size: 24px;
	font-weight: bold;
	background-position-y: 4px;
}
.datetime{
	width: 95%;
	height: 50px;
	background-color: #FFFFFF;
}
.calendar{
	display: inline-block;
	vertical-align: middle;
	border: none;
	width: 48px;
	height: 48px;
	background-image: url(../image/icon_calendar_normal.png);
	background-repeat: no-repeat;
}
.calendar:active{
		background-image: url(../image/icon_calendar_selected.png);
}
