.content_bg{
				background-color:  white;
		}
		
		div.date_detail {
			margin-left:0px;
			margin-right:0px;
		}
	   .date_detail ul {
		    min-height:60px;
		    padding-left:0px;
		    overflow:hidden;
		}
	   	.date_detail ul>li{
		    height: 60px;
		    position: relative;
		    overflow: hidden;
		    cursor: pointer;
		    box-sizing:border-box;
		    border-top:1px solid #E6EDF9;
		    border-bottom:1px solid #E6EDF9;    
		    margin-top:-1px;
		    background-color: white;
		    padding:0;
		    list-style:none;
	   	}
	   	.date_detail ul>li>div span.ztitle{
	   		font-size: 15px;
	   		color: #afabab;
	   		line-height: 60px;
	   		
	   	}
	   	.date_detail ul>li>div span.zmonth,.zstartDate,.zendDate{
	   		font-size: 20px;
	   		color: #595b6e;
	   		line-height: 60px;
	   		vertical-align: middle;
	   		
	   	}
	   	a.znext{
		     vertical-align:middle;
		 	 line-height: 60px;
   			 overflow: hidden;
   			 cursor: pointer;
   			 text-align: right;
	   	}

	   	.button_sure{
	   		background: url('../image/buttonbg_sure_normal.png') no-repeat center right  #FFFFFF;
	   	}
	   	.button_reset{
	   		background: url('../image/buttonbg_reset_normal.png') no-repeat center right  #FFFFFF;
	   	}
	   	.znext_img{
	   		background: url('../image/icon_arrow_next@1x.png') no-repeat center right  #FFFFFF;
	   	}
	   	
	   	.znext_icon{
	   	   width:10px;
    	   height:18px;
		  vertical-align:middle;
		  margin-bottom: 1px;
		  display: inline-block;
	   	}
	   	.icon_button{
	   	  width:90px;
    	  height:34px;
		  vertical-align:middle;
		  margin-bottom: 1px;
		  display: inline-block;
		  font-size: 20px;
		  line-height: 34px;
		  text-align: center;
	   	}
	   	a.nav{
	   		  	display: inline-block;
			    overflow: hidden;
			    cursor: pointer;
			    margin-left: 10px;
			    margin-right: 10px;
			    line-height: 400px;
	   	}
	   	.date_bottom{
	   		height:400px;
	   		text-align: center;
	   	}